.Footer {
  padding: 16px;
  text-align: center;
  background-color: white;
  border-radius: 2px;
  margin-bottom: 25px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.Footer h4 {
  color: #292626;
}
